*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}

.notFound {
    background-image: url('../assets/404-error-not-found-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 100vh
}