*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#working{
    background-image: url('../assets/working.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    margin: 0;
}

h1{
    font-size: 46px;
    color: #982176;
    text-align: center;
}